Repository annagabriel-hash/journal-app, pull requests merged in 2021-08, with the labels that each got.

#11 User login feature
  app/controllers/sessions_controller.rb
  app/views/sessions/new.html.erb
  config/routes.rb
  spec/requests/login_spec.rb
  spec/system/users/login_users_spec.rb
Labels: state: in progress, type: feature

#32 Added task feature
  app/controllers/tasks_controller.rb
  app/views/tasks/index.html.erb
  spec/system/view_tasks_spec.rb
Labels: type: feature, state: complete, app: backend

#30 Updated homepage, login and signup styling as per #29
  app/assets/stylesheets/global_styles.scss
  app/views/sessions/new.html.erb
  app/views/users/_form.html.erb
  app/views/users/new.html.erb
  spec/system/users/create_users_spec.rb
Labels: type: enhancement, state: review needed, app: frontend

#27 Updated login page styling and root route
  app/assets/images/todolist.svg
  app/assets/stylesheets/global_styles.scss
  app/views/sessions/new.html.erb
  app/views/users/_form.html.erb
  app/views/users/new.html.erb
  config/routes.rb
  spec/system/users/create_users_spec.rb
  spec/system/users/login_users_spec.rb
Labels: type: enhancement, state: review needed

#35 Fixes #31 category test errors due to required user id
  app/controllers/application_controller.rb
  app/controllers/categories_controller.rb
  spec/models/category_spec.rb
  spec/models/user_spec.rb
  spec/requests/categories_spec.rb
  spec/requests/login_spec.rb
  spec/system/categories/create_categories_spec.rb
  spec/system/categories/edit_categories_spec.rb
  spec/system/categories/view_categories_spec.rb
Labels: type: bug, state: review needed, app: backend

#37 Change category resource to nested resource of users
  app/controllers/categories_controller.rb
  app/views/categories/_form.html.erb
  app/views/categories/index.html.erb
  config/routes.rb
  spec/requests/categories_spec.rb
  spec/system/categories/create_categories_spec.rb
  spec/system/categories/edit_categories_spec.rb
  spec/system/categories/view_categories_spec.rb
  spec/system/users/create_users_spec.rb
Labels: type: feature, app: backend

#38 Update task feature
  app/controllers/tasks_controller.rb
  app/models/task.rb
  app/models/user.rb
  app/views/tasks/_form.html.erb
  app/views/tasks/index.html.erb
  config/routes.rb
  db/migrate/20210806220204_add_user_ref_to_tasks.rb
  db/schema.rb
  spec/models/task_spec.rb
  spec/system/create_tasks_spec.rb
  spec/system/edit_tasks_spec.rb
  spec/system/view_tasks_spec.rb
Labels: type: feature, app: backend

#40 Add favicon to journal app
  app/assets/images/favicon.ico
  app/views/layouts/application.html.erb
Labels: type: enhancement, app: frontend

#42 Given that the user is logged in, the user should see his/her tasks for the day
  app/assets/stylesheets/categories.scss
  app/controllers/users_controller.rb
  app/views/tasks/index.html.erb
  app/views/users/show.html.erb
Labels: type: feature, app: backend
